@media (min-device-width: 0px) and (min-width: 0px) {
    .shared-fish__kind {
        width: 90%;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .shared-fish__kind a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        color: black;
        text-decoration: none;
    }

    .shared-fish__kind a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .shared-fish__kinds {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 3% 0;
    }

    .shared-fish__kind img {
        width: 170px;
        height: 70px;
        margin: 1rem;
    }

    .shared-fish__title {
        margin-top: 3%;
        margin-left: 3%;
        font-size: 2rem;
    }

    .main__show-kinds {
        margin-left: 3%;
        color: black;
        text-decoration: none;
    }

    .main__show-kinds:hover {
        text-decoration: underline;
    }
}

@media (min-device-width: 1000px) and (min-width: 1000px) {

    .shared-fish__kinds {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3% 0;
    }

    .shared-fish__kind {
        margin: 0 1%;
        width: 30%;
        font-size: 1.5rem;
    }
}