.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.clearfix-left::after {
  display: block;
  content: "";
  clear: left;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
}

@media (min-device-width: 0px) and (min-width: 0px) {
  .main-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid black;
    background: #E9E9E9;
  }

  .main-nav {
    display: none;
  }

  .main-header__logo img {
    width: 5rem;
    margin: 1rem;
  }

  .toggle-bar__item {
    width: 3.125rem;
    height: 0.31rem;
    margin: 0.375rem 0;
    background-color: black;
  }

  .toggle-bar {
    margin-left: 1rem;
  }

  .main-footer {
    background: #596A80;
    font-size: 1.5rem;
  }

  .main-footer__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    list-style-type: none;
  }

  .main-footer__item {
    margin: 0.3rem 0;
    color: white;
    cursor: default;
  }
}

@media (min-device-width: 650px) and (min-width: 650px) {
  .main-header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .main-nav {
    display: flex;
    margin: 0;
  }

  .toggle-bar {
    display: none;
  }

  .main-nav__items {
    display: flex;
    margin-right: 2rem;
    padding: 0;
    list-style: none;
  }

  .main-nav__item {
    margin: 0 1rem;
  }

  .main-nav__item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.7s;
  }

  .main-nav__item a:hover {
    color: #6684AA;
    transition: 0.2s;
  }

  .main-hover {
    display: none;
    width: 10rem;
    padding: 1rem 0 0 1rem;
    border-bottom: 1px solid #E9E9E9;
    border-radius: 10px;
    background: #E9E9E9;
    list-style: none;
  }

  .main-hover__item {
    padding: 0.2rem 0;
  }

  .main-nav ul li:hover ul {
    display: block;
    position: absolute;
  }

  .main-footer {
    font-size: 0.9rem;
  }

  .main-footer__items {
    flex-direction: row;
    justify-content: center;
  }

  .main-footer__item {
    margin: 1rem 1rem;
  }
}