main {
    text-align: justify;
    text-indent: 2rem;
}

@media (min-device-width: 0px) and (min-width: 0px) {

    .intro {
        background-image: url("../img/stefan-lehner-Htz4ByI03-8-unsplash.jpg");
        background-size: cover;
        background-position: left;
        width: 100%;
        height: 50vh;
        margin: 0;
    }

    .container h3 {
        font-size: 2rem;
        text-indent: 0;
        text-align: center;
    }

    .container p {
        font-size: 1.5rem;
    }

    .container p, .container h3 {
        margin: 1% 5%;
    }

    .container ul, .container li {
        font-size: 1.5rem;
        margin: 0 5%;
        padding: 0;
        list-style-type: none;
    }

    .container ul li:before {
        content: "—";
        position: relative;
        left: -5px;
    }

    .container li {
        text-indent: 0;
        margin-right: 0;
    }

    .show-kinds {
        display: none;
    }

    .shared-fish__title {
        font-weight: bold;
        text-align: center;
    }
}

@media (min-device-width: 1000px) and (min-width: 1000px) {

    .container h3 {;
        text-align: left;
    }

    .shared-fish__title {
        text-align: left;
    }
}