@media (min-device-width: 0px) and (min-width: 0px) {

    h1 {
        margin-left: 5%;
    }

    .fish-kinds {
        margin-left: 3%;
    }

    .fish-kind p {
        text-align: center;
        font-size: 2rem;
    }

    .fish-kind a {
        text-decoration: none;
        float: left;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        width: 90%;
        margin: 2%;
    }

    .fish-kind a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
    }

    .fish-kind img {
        width: 330px;
        height: 200px;
        border-radius: 10px;
        margin: 10px;
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-device-width: 1000px) and (min-width: 1000px) {

    .fish-kind a {
        width: 40%;
    }
}

@media (min-device-width: 1900px) and (min-width: 1900px) {

    .fish-kind a {
        width: 20%;
    }
}